@using ExamApp.Application.ViewModels.Exam
@model ExamCreateVM

@section Style {
	<link rel="stylesheet" href="~/assets/css/student-create.css" />
}

<section class="student-create">
	<div class="header">
		<h3>Add New Exam</h3>
		<a style="background:#062556" asp-action="Index"><i class="fa-solid fa-arrow-left"></i> Back</a>

	</div>

	<div class="teacher container">
		<form enctype="multipart/form-data" method="post">

			<div style="width:30%" class="data">

				<div class="form-group">
					<label for="Date">Exam Date</label>
					<input class="data-input"
						   type="datetime-local"
						   id="Date"
						   name="Date"
						   placeholder="Exam Date"
						   asp-for="Date"
						   value="@DateTime.Now.AddHours(4).AddDays(1).ToString("yyyy-MM-ddTHH:mm")"
						   required
						   min="@DateTime.Now.AddHours(4).AddDays(1).ToString("yyyy-MM-ddTHH:mm")" />
					<span asp-validation-for="Date"></span>
				</div>


				<div class="form-group">
					<label asp-for="LessonId" class="control-label">Select Lesson</label>
					<select class="data-input" asp-for="LessonId" asp-items="Model.LessonSelect" class="form-control">
						<option value="">Select a Lesson</option>
					</select>
					<span asp-validation-for="LessonId" class="text-danger"></span>
				</div>
			</div>

			<button as type="submit">Submit</button>
		</form>
	</div>
</section>

