@import url('variables.css');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nuntu, sans-serif;
    display: flex;
  }
  
  /*==================== 
        SLLIDEBAR
  ======================*/
  
  .sidebar {
    width: 20%;
    height: 100vh;
    background: var(--color-white);
    display: flex;
    flex-direction: column;
  }
  
  .sidebar .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-l);
    font-size: var(--font-size-xl);
    text-decoration: none;
    font-weight: 700;
    color: var(--color-blue);
  }
  
  .sidebar .sidebar-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: var(--padding-l);
  }
  
  .sidebar .sidebar-nav .navbar {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .sidebar .sidebar-nav .navbar .header {
    margin: 0;
    font-size: var(--font-size-m);
    font-weight: 300;
  }
  
  .sidebar .sidebar-nav .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 14px;
    list-style-type: none;
    width: 100%;
  }
  
  .sidebar .sidebar-nav .navbar ul li {
    border-radius: var(--border-radius-m);
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s ease;
  }
  
  .sidebar .sidebar-nav .navbar ul li a {
    padding: 14px 16px;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-black);
    gap: 16px;
  }
  .sidebar .sidebar-nav .navbar ul li a p {
    margin: 0;
    font-weight: 500;
  }
  .sidebar .sidebar-nav .navbar ul li i {
    font-size: var(--font-size-m);
  }
  
  .sidebar .sidebar-nav .navbar ul li.active {
    background: var(--color-blue);
    font-weight: 600;
  }
  .sidebar .sidebar-nav .navbar ul li.active a {
    color: var(--color-white);
  }
  .sidebar .sidebar-nav .navbar ul li.active p {
    font-weight: 600;
  }
  
  .sidebar .sidebar-nav .navbar ul li:hover {
    background: var(--color-hover);
  }
  .sidebar .sidebar-nav .navbar ul li.active:hover {
    background: var(--color-blue);
  }
  
  .sidebar .sidebar-nav .navbar ul li:active {
    background: var(--color-blue);
  }
  
  .sidebar .sidebar-nav .navbar ul li:active a {
    color: var(--color-white);
  }
  .sidebar .sidebar-nav .navbar ul li:active p {
    font-weight: 600;
  }
  
  .sidebar .sidebar-nav .date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    font-size: var(--font-size-s);
    margin: 0;
    padding: 12px;
    background: var(--color-blue);
    color: var(--color-white);
    border-radius: var(--border-radius-m);
  }
  .sidebar .sidebar-nav .date p {
    margin: 0;
    font-size: var(--font-size-s);
  }
  .sidebar .sidebar-nav .date i {
    margin: 0;
    font-size: var(--font-size-s);
  }
  
  /*====================
           MAIN 
  ====================*/
  
  .main {
    width: 80%;
    height: 100vh;
    background: var(--color-light-blue);
    padding: 32px 64px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .main .container {
    padding: 32px 24px;
    background: var(--color-white);
    border-radius: var(--border-radius-xl);
  }
  
  .main section {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  
  .main .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .main .header h3 {
    margin: 0;
    font-size: var(--font-size-xl);
    font-weight: 600;
  }
  
  .main .header a {
    color: var(--color-white);
    text-decoration: none;
    background: var(--color-succes);
    padding: 12px 16px;
    border-radius: var(--border-radius-m);
    font-size: var(--font-size-s);
    transition: all 0.3s ease;
  }
  
  .main .header a:hover {
    background: var(--color-succes-hover);
  }
  .main .header a:active {
    background: var(--color-succes);
  }
  
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px;
    color: var(--color-black);
    font-size: var(--font-size-s);
  }
  