@using ExamApp.Application.ViewModels.Student
@section Style {
	<link rel="stylesheet" href="~/assets/css/student-create.css" />
}
@model StudentCreateVM

<section class="student-create">
	<div class="header">
		<h3>Add New Student</h3>
		<a style="background:#062556" asp-action="Index"><i class="fa-solid fa-arrow-left"></i> Back</a>

	</div>

	<div class="teacher container">
		<form enctype="multipart/form-data" method="post">
			<div class="form-con">
				<div class="profile-img">
					<div class="image">
						<img src="/assets/images/user-profil.png"
							 alt="User Profile Image"
							 class="main-image" />
						<div class="photo-overlay">
							<img src="~/assets/images/camera.svg" alt="Camera Icon" />
						</div>
					</div>
					<div class="img-file">
						<label for="image-file" class="upload-label">Upload Image</label>
						<input id="image-file" type="file" accept="image/*" asp-for="Image" hidden />
					</div>
					<span asp-validation-for="Image"></span>
				</div>

				<div class="data">
					<div class="form-group">
						<label for="number">Number</label>
						<input class="data-input"
							   type="number"
							   id="number"
							   name="number"
							   placeholder="Number"
							   asp-for="Number"
							   required
							   min="0"
							   max="99999"
							   oninput="limitLength(this) " />
						<span asp-validation-for="Number"></span>
					</div>
					<div class="form-group">
						<label for="name">Name</label>
						<input class="data-input"
							   type="text"
							   id="name"
							   name="name"
							   placeholder="Name"
							   asp-for="Name"
							   required />
						<span asp-validation-for="Name"></span>
					</div>
					<div class="form-group">
						<label for="surname">Surname</label>
						<input class="data-input" type="text"
							   id="surname"
							   name="surname"
							   placeholder="Surname"
							   asp-for="Surname"
							   required />
						<span asp-validation-for="Surname"></span>
					</div>
					<div class="form-group">
						<label asp-for="ClassId" class="control-label">Select Class</label>
						<select class="data-input" asp-for="ClassId" asp-items="Model.Class" class="form-control">
							<option value="">Select a Class</option>
						</select>
						<span asp-validation-for="ClassId" class="text-danger"></span>
					</div>
				</div>
			</div>

			<button as type="submit">Submit</button>
		</form>
	</div>
</section>

@section Script {
	<script src="~/assets/js/student-create.js"></script>
	<script>
		function limitLength(input) {
			if (input.value.length > 5) {
				input.value = input.value.slice(0, 5);
			}
		}
	</script>
}