<section class="teacher">
	<div class="header">
		<h3>Teachers</h3>
		<a href="~/#">Add Teacher</a>
	</div>

	<div class="table container">
		<div class="search-box">
			<input type="text" id="search" placeholder="Search..." />
		</div>

		<table>
			<thead>
				<tr>
					<th>Number</th>
					<th>Name</th>
					<th>Surname</th>
					<th>Specialization</th>
					<th style="width: 10%">Actions</th>
				</tr>
			</thead>
			<tbody id="table-body">
				<tr>
					<td>1</td>
					<td>Ad 1</td>
					<td>Soyad 1</td>
					<td>Sinf 1</td>
					<td class="actions">
						<a href="~/#" title="Info">
							<i class="fa-solid fa-circle-info"></i>
						</a>
						<a href="~/#" title="delete">
							<i class="fa-solid fa-trash-can"></i>
						</a>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Ad 1</td>
					<td>Soyad 1</td>
					<td>Sinf 1</td>
					<td class="actions">
						<a href="~/#" title="Info">
							<i class="fa-solid fa-circle-info"></i>
						</a>
						<a href="~/#" title="delete">
							<i class="fa-solid fa-trash-can"></i>
						</a>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Ad 2</td>
					<td>Soyad 2</td>
					<td>Sinf 1</td>
					<td class="actions">
						<a href="~/#" title="Info">
							<i class="fa-solid fa-circle-info"></i>
						</a>
						<a href="~/#" title="delete">
							<i class="fa-solid fa-trash-can"></i>
						</a>
					</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Ad 3</td>
					<td>Soyad 3</td>
					<td>Sinf 1</td>
					<td class="actions">
						<a href="~/#" title="Info">
							<i class="fa-solid fa-circle-info"></i>
						</a>
						<a href="~/#" title="delete">
							<i class="fa-solid fa-trash-can"></i>
						</a>
					</td>
				</tr>
				<tr>
					<td>4</td>
					<td>Ad 4</td>
					<td>Soyad 4</td>
					<td>Sinf 2</td>
					<td class="actions">
						<a href="~/#" title="Info">
							<i class="fa-solid fa-circle-info"></i>
						</a>
						<a href="~/#" title="delete">
							<i class="fa-solid fa-trash-can"></i>
						</a>
					</td>
				</tr>
				<tr>
					<td>5</td>
					<td>Ad 5</td>
					<td>Soyad 5</td>
					<td>Sinf 2</td>
					<td class="actions">
						<a href="~/#" title="Info">
							<i class="fa-solid fa-circle-info"></i>
						</a>
						<a href="~/#" title="delete">
							<i class="fa-solid fa-trash-can"></i>
						</a>
					</td>
				</tr>
				<tr>
					<td>6</td>
					<td>Ad 6</td>
					<td>Soyad 6</td>
					<td>Sinf 2</td>
					<td class="actions">
						<a href="~/#" title="Info">
							<i class="fa-solid fa-circle-info"></i>
						</a>
						<a href="~/#" title="delete">
							<i class="fa-solid fa-trash-can"></i>
						</a>
					</td>
				</tr>
				<tr>
					<td>7</td>
					<td>Ad 7</td>
					<td>Soyad 7</td>
					<td>Sinf 3</td>
					<td class="actions">
						<a href="~/#" title="Info">
							<i class="fa-solid fa-circle-info"></i>
						</a>
						<a href="~/#" title="delete">
							<i class="fa-solid fa-trash-can"></i>
						</a>
					</td>
				</tr>
				<tr>
					<td>8</td>
					<td>Ad 8</td>
					<td>Soyad 8</td>
					<td>Sinf 3</td>
					<td class="actions">
						<a href="~/#" title="Info">
							<i class="fa-solid fa-circle-info"></i>
						</a>
						<a href="~/#" title="delete">
							<i class="fa-solid fa-trash-can"></i>
						</a>
					</td>
				</tr>
				<tr>
					<td>9</td>
					<td>Ad 9</td>
					<td>Soyad 9</td>
					<td>Sinf 3</td>
					<td class="actions">
						<a href="~/#" title="Info">
							<i class="fa-solid fa-circle-info"></i>
						</a>
						<a href="~/#" title="delete">
							<i class="fa-solid fa-trash-can"></i>
						</a>
					</td>
				</tr>
				<tr>
					<td>10</td>
					<td>Ad 10</td>
					<td>Soyad 10</td>
					<td>Sinf 4</td>
					<td class="actions">
						<a href="~/#" title="Info">
							<i class="fa-solid fa-circle-info"></i>
						</a>
						<a href="~/#" title="delete">
							<i class="fa-solid fa-trash-can"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="pagination">
			<button class="page-btn" id="prev-btn">
				<i class="fa-solid fa-angle-left"></i>
			</button>
			<span id="page-numbers"></span>
			<button class="page-btn" id="next-btn">
				<i class="fa-solid fa-angle-right"></i>
			</button>
		</div>
	</div>
</section>

